# editorconfig.org
root = true

[*]
indent_style = Tab
indent_size = 1
end_of_line =lf
charset = utf-8
trim_trailing_whitespace = true
insert_fiunal_newline = true

[*.md]
trim_trailing_whitespace = false